.main-container {
	display: flex;
	justify-content: center;
}
.share-container {
	display: inline-block;
}
.users-container {
	display: inline-block;
}
.sharefiles-container {
}
.user-list-instance {
	margin: 5px;
	padding:  0 15px 0 15px;
	border: 1px solid silver;
}
.share-form input, textarea {
	display: block;
	margin: 12px;
}
.card {
	margin: 10px;
	padding: 25px;
	background-color: white;
}
